* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background-color: blue;
    padding: 24px;
    text-align: center
}

#navbar a {
    color: white;
}

p.warning {
    background-color: red;
}

p.warning a {
    color: aqua;
}

ul {
    color: green;
}

ul a {
    color: limegreen;
}

ul p a {
    color: purple;
}

ul div {
    color: lightblue;
}