* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#centered-hero {
    background-image: url(../images/pexels-pixabay-33109.jpg);
    background-size: cover;
    background-position: center center;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#centered-hero .hero-content {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(0, 0, 0, 0.41);
    padding: 25px;
    border-radius: 50px;
    margin: 10px;
}

#centered-hero .hero-content {
    color: rgb(190, 252, 255);
    text-align: center;
}

.single-column {
    width: 50%;
    max-width: 2000px;
    min-width: 1400px;
    margin: 0px auto;
}

.masonry-horizontal-gallery {
    background-color: rgb(255, 202, 161);
    border: 20px solid burlywood;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
    margin: 40px;
}

.masonry-horizontal-gallery img {
    height: 250px;
    flex: 1;
    object-fit: cover;
}

#nav {
    background-color: rgb(255, 68, 0);
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}

#nav h1 {
    color: beige;
    padding: 20px 90px 20px 20px;
    font-size: 20px;
}

#nav a {
    color: beige;
    text-decoration: none;
    font-size: 20px;
    padding: 30px 20px;
}

@media screen and (max-width: 450px) {

    #nav {
        flex-direction: column;
        align-items: center;
    }
    
    #single-column h1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 600px) {

    .masonry-horizontal-gallery {
        border: 20px solid burlywood;
        grid-template-columns: 1fr;
        margin: 20px 5px;
        background-color: aqua;
        width: 400px;
    }

    .masonry-horizontal-gallery img {
        padding: 0px;
        margin: 0px;
        width: 50%;
    }
}