* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.single-container {
    background-color: rgb(101, 214, 252);
    width: 50%;
    max-width: 550px;
    min-width: 550px;
    margin: 0px auto;
    height: 2000px;
    
} 

.p {
    padding: 0px 30px 0px 20px;
}

.heading {
    padding: 50px 0px 0px 20px; 
}

.img {
    
    margin: 0px 0px 0px 45px;
}