* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#Font-boy {
    font-style: italic;
    color: chartreuse;
    background-color: black;
}

a {
    font-family: georgia;
    color: aquamarine;
    background-color: blueviolet;
}

#dec {
    text-decoration-line: line-through;
    color: azure;
}

#align {
    text-align: center;
    background-color: brown;
    background-color: black;
    border: solid;
    margin: 10px;
    border-radius: 70px;
}

p {
    font-family: lucida;
    background-color: black;
    color: aqua;
}