* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#sidebar {
    background-color: #333333;
    color: white;
    width: 500px;
    min-height: 100vh;
    padding: 24px;
}

.chapter {
    font-weight: bold;
    padding: 10px 0px 0px 0px;
}

.edit {
    color: orange;
    font-style: italic;
}

div {
    color: red;
}