* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.single-column {
    background-color: lightblue;
    width: 50%;
    max-width: 500px;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    /* margin: 0px auto*/
}

