* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.post-it {
    background-color: rgb(0, 255, 255);
    width: 210px;
    height: 200px;
    display: inline-block;
    padding: 25px;
    margin: 20px;
    font-size: 10px;
    vertical-align: top;
}

.post-it-2 {
    background-color: rgb(244, 235, 115);
    width: 210px;
    height: 200px;
    display: inline-block;
    padding: 24px;
    margin: 9px; 
    font-size: 10px;
    vertical-align: top;

}

.post-it-3 {
    background-color: rgb(255, 238, 0);
    width: 210px;
    height: 200px;
    display: inline-block;
    padding: 10px;
    margin: px; 
    font-size: 10px;
    text-align: left;
    vertical-align: top;
}

.post-it-4 {
    background-color: rgb(238, 238, 238);
    width: 210px;
    height: 200px;
    display: inline-block;
    padding: 10px;
    margin: 25px; 
    font-size: 10px;
    vertical-align: top;
}

.post-it-5 {
    background-color: rgb(98, 255, 0);
    width: 210px;
    height: 200px;
    display: inline-block;
    padding: 15px;
    margin: 25px; 
    font-size: 15px;
    vertical-align: top;
}

.post-it-6 {
    background-color: rgb(255, 208, 0);
    width: 210px;
    height: 200px;
    display: inline-block;
    padding: 10px;
    margin: 25px; 
    font-size: 20px;
    vertical-align: top;
}

.post-0 {
    width: 210px;
    height: 200px;
    display: inline-block;
    padding: 10px;
    margin: 7px; 
    font-size: 20px;
    vertical-align: top;

}