* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

h1 { 
    color: rgb(226, 18, 18);
    background-color: aqua;
    padding: 10px;

}

#p-1 { 
    margin: 30px;
    background-color: bisque;
    padding: 10px;

}

span {
    color: aqua;
    background-color: rgb(119, 119, 119);
}

#same-purple {
        color: blueviolet;
}