* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background-color: rgb(255, 132, 0);
    display: flex;
    align-items: center;
    border: 2px solid black;
    gap: 20px;
    align-content: right;
}

#navbar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 26px;
    text-align: right;
}

.cta {
    background-color: aqua;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    text-align: center;
    border: 1px solid;
    margin-right: auto;
}

#heading {
    text-align: center;
}