* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#sp-man {
    width: 250px;
    display: inline-block;
}

.block-red {
    background-color: aqua;
    width: 350px;
    height: 260px;
    border: 20px solid black;
    margin: 20px;
    padding: 30px;
    display: inline-block;
}

#spaces {
    width: 150px;
    display: inline-block;
}

.block {
    background-color: rgb(175, 175, 175);
    width: 250px;
    border: 20px solid black;
    border-radius: 50px;
    margin: 20px;
    padding: 30px;
   display: inline-block;
}

.text {
    background-color: rgb(0, 249, 100);
    inline-size: 180px;
    height: 150px;
    border: 20px solid black;
    border-radius: 50px;
    margin: 20px;
    padding: 10px;
    display: inline-block;
}