* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

#single-column1 {
    background-color: rgb(31, 29, 29);
}

#single-column2 {
    background-color: gray;
}

#single-column3 {
    background-color: rgb(238, 238, 9);
    
}

#section-1 {
    background-color: rgb(31, 29, 29);
    color: rgb(190, 190, 42);
    width: 50%;
    max-width: 500px;
    min-width: 600px;
    margin: 0px auto;
    padding: 30px;
}

#section-2 {
    background-color: gray;
    color: rgb(224, 224, 24);
    width: 50%;
    max-width: 500px;
    min-width: 600px;
    margin: 0px auto;
    padding: 30px;
}

#section-3 {
    background-color: rgb(238, 238, 9);
    color: rgb(0, 0, 0);
    width: 50%;
    max-width: 500px;
    min-width: 600px;
    margin: 0px auto;
    padding: 30px;
}

img {
    margin: 0px 0px 0px 100px;
}

p {
    margin: 0px 0px 30px 25px;
}

.Headers {
    margin: 20px 0px 50px 24px;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.sub-Headers {
    margin: 17px 0px 15px 24px;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.button.border {
    margin: 0px 20px 25px 190px;
}

.button {
    text-decoration: none;
    color: black;
    display: inline-block;
    min-width: 24px;
    text-align: center;
    text-transform: uppercase;
}

.border {
    border: 2px solid rgb(242, 255, 0);
    color: rgb(234, 255, 0);
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
}

.lastb {
    color: black;
    border: 2px solid rgb(0, 0, 0);
}