* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#layout {
    display: flex;
    width: 50%;
    max-width: 800px;
    min-width: 400px;
    margin: 100px;
    height: 4000px;
}

#thumbnail-column {
    margin: 0px 50px 0px 0px;
}

#product-info-column {
    margin: 0px 0px 0px 50px;
    width: 600%;
    font-size: small;
}

#ij {
    border: 3px solid;
}

h3 {
    font-size: large;
}

#seller {
    text-decoration: underline;
}

.button {
    margin: 10px 0px 0px 0px;
    text-decoration: none;
    color: black;
    display: inline-block;
    min-width: 200px;
    text-align: center;
    text-transform: uppercase;
}

.background {
    background-color: lavender;
    color: blue;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    border: 2px blue;
}

#blue {
    color: aliceblue;
    background-color: blue;
}